/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --title-font: "Reem Kufi", sans-serif;
  --title-size: 48px;
  --text-font: "Overpass", sans-serif;
  --text-size: 16px;
  --main-line-lenght: 25ch;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: 0.1rem;

  --BackgroundColor: #0f1b1e;
  --MainColor: #3e3d7b;
  --color2: #a21a10;
  --color3: #f7f7ff;
  --border-radius: 18px;
  --box-shadow: var(--color3) 0px 1px 4px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 500; /* ou 700 en bold */
}
h1 {
  color: var(--color2);
}
p {
  font-family: var(--text-font);
  font-weight: 500; /* 700 possible en bold */
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* VARIABLES GLOBALES */

* {
  background-color: var(--BackgroundColor);
}

.colortest {
  color: var(--MainColor);
}
.colortest1 {
  color: var(--color2);
}
.colortest2 {
  color: var(--color3);
}

/* ACCUEIL  DESKTOP MODE */

/* SEPARATEUR RECCURENT */
:root {
  animation: fadebackground 6s infinite;
}
@keyframes fadebackground {
  from {
    background-color: var(--color2);
  }
  to {
    background-color: var(--color2);
  }
}

.separation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.separateur {
  margin: 10rem 2rem;
  height: 2px;
  border: none;
  border-radius: var(--border-radius);
  width: 20vw;
  background-color: var(--color2);
}
.rocketball {
  width: 40px;
}

.maincontainer {
  width: 100vw;
}

.phrasedefilante h1 {
  color: var(--color3);
}

.maincontainer p {
  font-size: 1.5rem;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.section1 p {
  padding: 1rem 1rem;
  background-color: var(--color3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--BackgroundColor);
  text-align: center;
  margin: 0rem 0 3rem 1rem;
}

.section1 h1 {
  padding: 1rem 1rem;
  text-align: center;
  margin: 1rem 0 1rem 1rem;
  font-size: 4rem;
  margin-top: -10rem;
  transition-timing-function: linear;
  transition: stroke-dashoffset 4s, stroke-dasharray 4s;
}

.buttonContact {
  display: inline-block;
  background-color: var(--MainColor);
  font-family: var(--text-font);
  border-radius: 18px;
  border: var(--MainColor);
  color: var(--color3);
  text-align: center;
  font-size: 0, 1rem;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.buttonContact span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #3e3d7b;
}
.buttonContact span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonContact:hover {
  background-color: var(--color2);
}
.buttonContact:hover span {
  padding-right: 25px;
  background-color: var(--color2);
}
.buttonContact:hover span:after {
  opacity: 1;
  right: 0;
}
.giovanni-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.giovanni {
  width: 60%;
}

.rejoins-nous {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.btn-pkm-details {
  background-color: aqua;
}
.section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.section2 p {
  padding: 1rem 1rem;
  background-color: var(--color3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--BackgroundColor);
  text-align: center;
  margin: 0rem 0 3rem 1rem;
}

.section2 h1 {
  padding: 1rem 1rem;
  text-align: center;
  margin: 1rem 0 1rem 1rem;
  margin-top: -10rem;
  font-size: 4rem;
}
.buttonPokedex {
  display: inline-block;
  background-color: var(--MainColor);
  font-family: var(--text-font);
  border-radius: 10px;
  border: var(--MainColor);
  border-radius: 18px;
  color: var(--color3);
  text-align: center;
  font-size: 0, 1rem;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.buttonPokedex span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #3e3d7b;
}
.buttonPokedex span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonPokedex:hover {
  background-color: var(--color2);
}
.buttonPokedex:hover span {
  padding-right: 25px;
  background-color: var(--color2);
}
.buttonPokedex:hover span:after {
  opacity: 1;
  right: 0;
}
.lateam {
  display: flex;
  width: 30%;
}

.lachasse {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.description-wrapper {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.jessie,
.miaouss,
.james {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.description-wrapper p {
  background-color: var(--color3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--BackgroundColor);
  text-align: center;
  padding: 1rem 1rem;
  margin-bottom: 4rem;
}
.description-jessie,
.description-miaouss,
.description-james {
  width: 30%;
}

/* FIN DU ACCUEIL  DESKTOP MODE */

/* ACCUEIL  EN RESPONSIVE */

@media screen and (max-width: 768px) {
  .separation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .separateur {
    margin: 5rem 2rem;
    height: 2px;
    border: none;
    border-radius: var(--border-radius);
    width: 20vw;
    background-color: var(--color2);
  }

  .section1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .section1 p {
    padding: 1rem 1rem;
    background-color: var(--color3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--BackgroundColor);
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0 4rem 1rem;
  }

  .section1 h1 {
    font-size: 2rem;
    padding: 1rem 1rem;
    text-align: center;
    margin: 1rem 0 1rem 1rem;
  }

  .rejoins-nous {
    width: 70%;
  }
  .giovanni-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .giovanni {
    width: 30%;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .lateam {
    width: 30%;
  }
  .lachasse {
    margin-top: 2rem;
    width: 70%;
  }

  .section2 h1 {
    font-size: 2rem;
    padding: 1rem 1rem;
    text-align: center;
    margin: 1rem 0 1rem 1rem;
  }

  .section2 p {
    padding: 1rem 1rem;
    background-color: var(--color3);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--BackgroundColor);
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0 4rem 1rem;
  }

  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
  }

  .jessie,
  .miaouss,
  .james {
    margin: 2rem 0rem;
    width: 150px;
    height: 150px;
  }
  .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description-jessie,
  .description-miaouss,
  .description-james {
    width: 80%;
    margin: 2rem 0;
  }
  .description-jessie p,
  .description-miaouss p,
  .description-james p {
    background: linear-gradient(to right, #a21a10, #0f1b1e);
    border-radius: 10px;
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    color: var(--color3);
    box-shadow: none;
    font-size: 1rem;
  }
}
/* FIN DU  ACCUEIL  EN RESPONSIVE */
