/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --title-font: "Reem Kufi", sans-serif;
  --title-size: 48px;
  --text-font: "Overpass", sans-serif;
  --text-size: 16px;
  --main-line-lenght: 25ch;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: 0.1rem;

  --BackgroundColor: #0f1b1e;
  --MainColor: #3e3d7b;
  --color2: #a21a10;
  --color3: #f7f7ff;
  --border-radius: 18px;
  --box-shadow: 0 3px 7px var(--MainColor);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 500;
  /* ou 700 en bold */
}

p {
  font-family: var(--text-font);
  font-weight: 500;
  /* 700 possible en bold */
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* VARIABLES GLOBALES */
* .colortest {
  color: var(--MainColor);
}

.colortest1 {
  color: var(--color2);
}

.colortest2 {
  color: var(--color3);
}

.row {
  display: flex;
  justify-content: space-around;
}

.divcontact {
  margin-top: 8%;
}

.rocketimg {
  border-radius: var(--border-radius);
  width: 50%;
  margin-top: 5%;
}

.rocketimg:hover {
  color: #3e3d7b;
}

.comeus {
  color: var(--color2);
  font-size: 3.5rem;
}

.whyrejoinus {
  color: var(--color3);
  font-size: 1.4rem;
  padding-top: 6%;
}

.whyrejoinus2 {
  color: var(--color3);
  font-size: 1.4rem;
  margin-top: 7%;
}

.jjimg {
  width: 65%;
  padding-top: 5%;
}

/* ContactForm JSX */

.rocketmobile {
  display: none;
}

.row1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 3%;
}

.contactus {
  color: var(--color2);
  font-size: 4rem;
  padding-top: 4%;
}

.adress {
  color: var(--color3);
  padding-top: 7%;
  font-size: 1.3rem;
}

.p1 {
  color: var(--color3);
  padding-top: 7%;
}

.p2 {
  color: var(--color3);
  padding-top: 7%;
  font-size: 1.2rem;
}

.jassie {
  width: 25%;
}

.contacth1 {
  color: var(--color3);
}

.pika {
  width: 22%;
  height: 50%;
  margin-top: 50%;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.pikamobile {
  display: none;
}

.row2 {
  margin-left: 10%;
}

/* Contact Formulaire */


.contactForm {
  padding: 50px;
  width: 160%;
  max-width: 550px;
  margin: 30px auto;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color3);
  margin-top: 50%;
}

.contactForm:hover {
  color: var(--color2);
  transition: 200ms;
}

.contactForm input,
button,
textarea {
  height: 50px;
  padding-left: 5px;
  font-size: 18px;
  border-radius: 10px;
  border-style: none;
}

.contactForm button {
  background-color: var(--color2);
}

.contactForm button:hover {
  background-color: rgb(97, 2, 2);
  transition: 1000ms;
}

.contactForm input,
textarea {
  background-color: rgb(240, 240, 240);
}

.contactForm textarea {
  height: 110px;
}

.h1contact {
  display: flex;
  justify-content: center;
  background-color: var(--color3);
  margin-bottom: 18px;
}

.formcontact1 {
  display: flex;
  margin: auto;
}

.pcontact {
  color: var(--color3);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkStyle {
  display: flex;
  background: none;

}

.pokeball {
  width: 35%;
  display: flex;
  margin-top: 10%;
}

.pokeball:hover {
  animation: ballEffect 2.5s;
}

@keyframes ballEffect {
  100% {
    transform: rotate(1800deg) translate(0.45px);
  }
}

/* Media Query Mobile */

@media screen and (min-width: 375px) and (max-width: 767px) {

  .rocketimg {
    display: none;
  }

  .comeus {
    display: flex;
    justify-content: center;
  }

  .whyrejoinus {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .whyrejoinus2 {
    display: flex;
    justify-content: center;
    margin-right: 16px;
    font-size: 1.2rem;
  }

  img.pika {
    display: none;
  }

  .pikamobile {
    display: flex;
    width: 30%;
    margin: auto;
    /* Ajout d'un margin right car le margin auto le centre presque correctement par rapport
    au formcontact mais pas assez à mon gout */
    margin-right: 37%;
  }

  .contactus {
    display: flex;
    justify-content: center;
    margin-right: none;
  }

  .adress {
    margin: auto;
  }

  .p2 {
    display: none;
  }

  .pokeball {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 6%;
  }

  .rocketmobile {
    display: flex;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    border-radius: var(--border-radius);
  }

  .row {
    flex-direction: column;
  }

  .formcontact1 {
    flex-direction: column-reverse;
  }

  .row1 {
    flex-direction: column-reverse;
  }

  .row2 {
    flex-direction: column;
    margin: auto;
  }

  .contactForm {
    margin-top: 6%;
    max-width: 70%;
  }
}

/* Media Query Tablette */

@media screen and (min-width : 768px) and (max-width : 1280px) {
  .rocketimg {
    display: none;
  }

  .comeus {
    display: flex;
    justify-content: center;
  }

  .whyrejoinus {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .whyrejoinus2 {
    display: flex;
    justify-content: center;
    margin-right: 16px;
    font-size: 1.2rem;
  }

  img.pika {
    display: none;
  }

  .pikamobile {
    display: flex;
    width: 30%;
    margin: auto;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
  }

  .contactus {
    display: flex;
    justify-content: center;
    margin-right: none;
  }

  .adress {
    margin: auto;
  }

  .p2 {
    display: none;
  }

  .pokeball {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
  }

  .rocketmobile {
    display: flex;
    margin: auto;
    width: 35%;
    margin-top: 5%;
    border-radius: var(--border-radius);
  }

  .row {
    flex-direction: column;
  }

  .formcontact1 {
    flex-direction: column-reverse;
  }

  .row1 {
    flex-direction: column-reverse;
  }

  .row2 {
    flex-direction: column;
    margin: auto;
  }

  .contactForm {
    margin-top: 6%;
    max-width: 80%;
  }
}


/* Small Laptop Screen */
/* Sorry Pika */

@media screen and (min-width: 1025px) and (max-width: 1350px) {

  .pika {
    display: none;
  }

}