/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --title-font: "Reem Kufi", sans-serif;
  --title-size: 48px;
  --text-font: "Overpass", sans-serif;
  --text-size: 16px;
  --main-line-lenght: 25ch;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: 0.1rem;

  --BackgroundColor: #0f1b1e;

  --MainColor: #3e3d7b;
  --color2: #a21a10;
  --color3: #f7f7ff;
  --border-radius: 18px;
  --box-shadow: 0 3px 7px var(--MainColor);
  --box-shadow-2: 0 3px 7px var(--color2);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 500; /* ou 700 en bold */
}
p {
  font-family: var(--text-font);
  font-weight: 500; /* 700 possible en bold */
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* ------------------ SECTION BOX-POKEDEX -------------------- */

.box-pokedex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 70vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .box-pokedex {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media screen and (max-width: 426px) {
  .box-pokedex {
    width: 100vw;
  }
}

.pokedex-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
  height: auto;
  padding: 0 0 0 3rem;
}

.pokedex-text h1 {
  font-size: 3rem;
  color: var(--color2);
  margin-bottom: 1rem;
  line-height: 3.5rem;
}

.pokedex-text p {
  color: var(--BackgroundColor);
  background-color: var(--color3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .pokedex-text {
    padding: 0;
    text-align: center;
  }

  .pokedex-text h1 {
    color: var(--color2);
    line-height: 2.2rem;
    font-size: 2rem;
  }

  .pokedex-text p {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 426px) {
  .pokedex-text {
    justify-content: center;
    width: 90%;
    text-align: center;
  }
  .pokedex-text h1 {
    margin-bottom: 0.5rem;
    width: 90vw;
  }
}

.pokedex-img {
  display: flex;
  justify-content: center;
  width: 45%;
}

.pokedex-img > img {
  max-width: 70%;
}

@media screen and (max-width: 768px) {
  .pokedex-img > img {
    min-width: 30vw;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 426px) {
  .pokedex-img > img {
    min-width: 50vw;
  }
}

/* ------------------ SECTION SEPARATEUR -------------------- */

.separation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

@media screen and (max-width: 426px) {
  .separation {
    margin: 0.3rem 0 1rem 0;
  }
  .separateur{
    margin : 0.3rem 0 1rem 0
  }
}

.separateur {
  margin: 0 2rem;
  height: 5px;
  border: none;
  border-radius: var(--border-radius);
  width: 30vw;
  background-color: var(--color2);
}
.rocketball {
  width: 60px;
}

/* ------------------ SECTION SEARCH-BAR -------------------- */

.Box-icon-searchbar {
  border: solid 1px yellow;
  background-color: var(--color3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-2);
  width: 70%;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 426px) {
  .Box-icon-searchbar {
    width: 90%;
  }
}

.searchbar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  width: 70%;
  height: 1rem;
  padding: 1rem;
  text-align: left;
  font-size: 1.8rem;
  font-family: var(--title-font);
  font-weight: 100;
  word-spacing: 0.3rem;
  border: 0;
  color: var(--color2);
  background-color: var(--color3);
}

.Box-icon-searchbar img {
  max-width: auto;
  max-height: 40px;
  margin-left: 2rem;
}

input:active {
  border: solid 1px rgb(201, 201, 201);
}

@media screen and (max-width: 768px) {
  .searchbar {
    height: 10vh;
  }
  input {
    width: 75%;
    height: 1rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 426px) {
  .Box-icon-searchbar img {
    max-height: 25px;
    margin-left: 1.5rem;
  }
  input {
    width: 70%;
    font-size: 1rem;
  }
}

/* ------------------ SECTION POKEMON LIST -------------------- */

.Pokedex-wrapper ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.pokemon-picture {
  aspect-ratio: 1/1;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
}

.pokemon-picture:hover {
  transform: translateY(-10px) scale(1.2) translateZ(0);
  transition: 0.25s;
}

.card-pokemon {
  min-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* box-shadow: var(--box-shadow); */
  margin: 2rem;
  background-color: var(--color3);
  border-radius: 3px;
}

.card-pokemon:hover {
  transform: translateY(10px) scale(1.1) translateZ(0) rotate(3deg);
  transition: 0.25s;
}

@media screen and (min-width: 1200px) {
  .card-pokemon {
    min-width: 18%;
    min-height: 380px;
  }
}

@media screen and (max-width: 768px) {
  .card-pokemon {
    min-height: 21.8rem;
    max-width: 15%;
    margin: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .card-pokemon {
    min-height: 18.75rem;
    max-width: 40%;
    margin: 1rem;
  }
}

.pokemon-name {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  /* background-color: var(--color2); */
  background: linear-gradient(-45deg, #ab1414, #910909, #bf1111, #e93535);
  animation: gradient 6s ease infinite;
  background-size: 200% 200%;
  display: flex;
  justify-content: center;
  color: var(--color3);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pokemon-name:first-letter {
  text-transform: uppercase;
}

.pokemon-picture {
  aspect-ratio: 1/1;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
}

@media screen and (min-width: 1200px) {
  .pokemon-picture {
    margin: 0px auto;
  }
}

.pokedexnum {
  font-family: var(--title-font);
  padding: 0.5rem;
  color: #14213d;
  font-size: 1.5rem;
  /* font-weight: bold; */
}

.button-detail {
  font-family: var(--text-font);
  display: block;
  color: var(--color3);
  background-color: var(--MainColor);
  justify-content: center;
  align-items: center;
  padding: 1.1rem 0.5rem;
  margin: 0 0.7rem 0.7rem 0.7rem;
  border-radius: var(--border-radius);
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .button-detail {
    margin-top: 0.4rem;
    padding: 0.6rem;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 426px) {
  .button-detail {
    padding: 0.6rem 0.5rem;
    font-size: 0.5rem;
  }
}

.button-detail:hover,
.button-detail:active {
  background-color: var(--color2);
  transition: 1000ms;
}

.button-detail > span {
  text-transform: uppercase;
  margin-left: 5px;
  font-weight: 800;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .button-detail > span {
    margin-left: 0px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 426px) {
  .button-detail > span {
    font-size: 0.9rem;
  }
}
