/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --title-font: "Reem Kufi", sans-serif;
  --title-size: 48px;
  --text-font: "Overpass", sans-serif;
  --text-size: 16px;
  --main-line-lenght: 25ch;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: 0.1rem;

  --BackgroundColor: #0f1b1e;

  --MainColor: #3e3d7b;
  --color2: #a21a10;
  --color3: #f7f7ff;
  --border-radius: 18px;
  --box-shadow: 0 3px 7px var(--MainColor);
  --box-shadow-2: 0 3px 7px var(--color2);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 500; /* ou 700 en bold */
}
p {
  font-family: var(--text-font);
  font-weight: 500; /* 700 possible en bold */
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* ------------------ POKEMON DESCRIPTION -------------------- */

@media screen and (max-width: 1440px) {
  .banneer-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .banneer-container {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .banneer-container {
    display: none;
  }
}
.pokemon-type {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.type-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color2);
  color: var(--color3);
}

.main-data > h1 {
  color: var(--color3);
  font-size: var(--title-size);
  text-transform: uppercase;
}

.main-data-detail {
  background-color: var(--BackgroundColor);
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2rem solid var(--color2);
}

@media screen and (max-width: 426px) {
  .main-data-detail {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-data-detail > h2,
.main-data-detail > p,
.type-flex {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--color3);
  font-size: 1.2rem;
  margin: 0 2rem 0.5rem;
  font-weight: 200;
  width: 90%;
}

@media screen and (max-width: 426px) {
  .main-data-detail > h2 {
    font-weight: 600;
  }
  .main-data-detail > p {
    justify-content: space-evenly;
    min-width: 0%;
    margin: 1rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .main-data-detail > p {
    flex-wrap: wrap;
    font-size: 1.2rem;
    width: 25%;
    text-align: center;
  }
}

.pkm-picture {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both infinite;
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@media screen and (max-width: 768px) {
  .pkm-picture {
    width: 75%;
  }
}

@media screen and (max-width: 426px) {
  .pkm-picture {
    width: 80%;
  }
}

.box-pkm-picture-basic-stats {
  /* background-color: #767676; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .box-pkm-picture-basic-stats {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 426px) {
  .box-pkm-picture-basic-stats {
    flex-direction: column;
  }
}

.pkm-basic-stats {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--text-font);
}

@media screen and (max-width: 768px) {
  .pkm-basic-stats {
    width: 40%;
  }
}

@media screen and (max-width: 426px) {
  .pkm-basic-stats {
    width: 90%;
  }
}

.pkm-basic-stats > ul {
  width: 85%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .pkm-basic-stats > ul {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 426px) {
  .pkm-basic-stats > ul {
    text-align: center;
  }
}

.pkm-basic-stats > h2 {
  color: var(--color3);
  font-size: 1.7rem;
  text-align: center;
  width: 100%;
}

.stats-name {
  /* background-color: var(--color3); */
  color: var(--color3);
  border-radius: var(--border-radius);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  width: 40%;
  margin: 0.7rem 0;
}

.stats-value {
  color: var(--color2);
  font-size: 2rem;
  font-weight: 800;
}

.parentdiv {
  width: 100%;
  height: 40px;
  background-color: var(--color3);
  border-radius: 40px;
}

.childdiv {
  background-color: var(--color2);
  height: 100%;
  text-align: left;
  padding-left: 10px;
  border-radius: 40px;
  /* padding: 3px; */
}

.progresstext {
  color: var(--color3);
  font-weight: 600;
  padding: 3px;
}

/* ------------------ SECTION SEPARATEUR -------------------- */

.separation-descriptioncard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 1rem 0;
}

.separateur-descriptioncard {
  margin: 0 2rem;
  height: 5px;
  border: none;
  border-radius: var(--border-radius);
  width: 30vw;
  background-color: var(--color2);
}
.rocketball-descriptioncard {
  width: 75px;
}

/* ------------------ SECTION DETAILS -------------------- */

.abilities {
  display: flex;
  align-items: center;
  align-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 1.3rem;
  font-size: 1.5rem;
  color: var(--color3);
}

@media screen and (max-width: 768px) {
  .abilities {
    flex-direction: column;
  }
  .abilities-name > li {
    flex-direction: row;
  }
}

@media screen and (max-width: 426px) {
  .abilities {
    flex-direction: column;
  }
  .abilities > h2 {
    justify-content: center;
    font-size: 2rem;
  }
  .abilities > li {
    display: inline-block;
    flex-direction: row;
  }
}

.abilities > li {
  font-family: var(--text-font);
  margin-left: 1rem;
  margin-top: 10px;
  color: var(--color3);
}

.box-pkm-more-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto 1rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--color3);
}

@media screen and (max-width: 426px) {
  .box-pkm-more-details {
    flex-direction: column;
    text-align: center;
  }
}

.box-pkm-more-details p {
  color: var(--BackgroundColor);
  font-size: 1.1rem;
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .box-pkm-more-details p {
    text-align: left;
  }
}

@media screen and (max-width: 426px) {
  .box-pkm-more-details p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .pkm-more-details-capt-descrip-habit-text {
    width: 70%;
  }
}

@media screen and (max-width: 426px) {
  .pkm-more-details-capt-descrip-habit-text,
  .img-pkm-evolution {
    width: 100%;
  }
}

.pkm-detail-capture,
.pkm-detail-description,
.pkm-detail-habitat {
  margin-bottom: 1rem;
  padding-left: 10px;
}

.pkm-detail-capture > h2,
.pkm-detail-description > h2,
.pkm-detail-habitat > h2,
.img-pkm-evolution > h2 {
  font-size: 1.8rem;
  color: var(--color2);
  font-weight: 600;
}

.pkm-detail-description {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  font-style: italic;
}

@media screen and (max-width: 426px) {
  .pkm-detail-description {
    width: 100%;
  }
}

.pkm-evolution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}

@media screen and (max-width: 426px) {
  .pkm-evolution {
    width: 100%;
  }
}

.img-pkm-evolution > img {
  display: flex;
  justify-content: center;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .img-pkm-evolution > img {
    width: 80%;
    margin: 0 auto;
  }
}

.img-pkm-evolution > span {
  font-family: var(--text-font);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--MainColor);
}

/* ------------------ BOUTON AJOUTER PANIER -------------------- */

.box-btn-home-panier {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 426px) {
  .box-btn-home-panier {
    flex-direction: column-reverse;
  }
}

.btn-pkm-home {
  font-family: var(--text-font);
  color: var(--color3);
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 200;
}

.btn-ajouter-au-panier {
  display: flex;
  font-family: var(--text-font);
  background-color: var(--MainColor);
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  width: 30%;
  height: auto;
  font-size: 1.5rem;
  color: var(--color3);
  border-radius: var(--border-radius);
}

@media screen and (max-width: 426px) {
  .btn-ajouter-au-panier {
    text-align: center;
    flex-direction: column;
    margin-right: 0 auto;
    font-size: 1rem;
  }
  .btn-ajouter-au-panier > img {
    margin: 0;
  }
}

.btn-ajouter-au-panier > a {
  color: var(--color3);
}

.btn-ajouter-au-panier:hover,
.btn-ajouter-au-panier:active {
  background-color: var(--color2);
  transition: 1000ms;
}
