.videowrapper {
  position: relative;
  padding-top: 20%; /* 720 / 1280 = 0.5625 */
}

.autoplayvideo {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .videowrapper {
    position: relative;
    padding-top: 20%; /* 720 / 1280 = 0.5625 */
    height: 70%;
  }

  .autoplayvideo {
    position: absolute;
    top: 0;
    left: 0;
  }
}
